body {
    background-color: #060c20;
}

* {
    font-size: 24px;
    font-family: "Barlow Semi Condensed";
    color: #ddd;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

strong, a {
    color: #1ce085;
}

body {
    overflow-y: auto;
}

#main {
    position: relative;
}

#main-page {
    margin-top: 10vh;
    text-align: center;
}

#content {
    margin-top: 3vh;
    text-align: center;
}

#container {
    margin: 5% auto;
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#projects, #bio {
    margin: 2vh auto;
    width: 40%;

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;

    line-height: 1.15;

    display: flex;
    box-sizing: border-box;
    margin-bottom: 3vh;
}

#projects {
    align-items: center;
    justify-content: center;
}

#bio {
    text-align: left;
}

@media (max-width: 500px) {
    #projects, #bio {
        width: 100%; /* Set width to 100% for smaller screens */
    }
}

#discord-connection {
    position: absolute;
    left: 0;
    margin-left: 1.5%;
    display: inline-block;
}

#discord-img {
    vertical-align: middle;
    padding-right: 5px;
}

#other-connections {
    position: absolute;
    right: 0;
    margin-right: 1.5%;
}
