body {
    background-color: #060c20;
}

* {
    font-size: 24px;
    font-family: "Barlow Semi Condensed";
    color: #ddd;
}

strong, a {
    color: #1ce085;
}

a:hover {
    color: #11bc6d;
}

#main {
    position: relative;
    margin: 10vh auto 0;
    text-align: center;
}

#content {
    margin-top: 3vh;
}

#container {
    margin: 5% auto;
    width: 70%;

    display: flex;
    flex-wrap: wrap;
}

#projects, #bio {
    margin: 2% auto;

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2%;

    line-height: 120%;
    box-sizing: border-box;
}

#bio {
    text-align: left;
}

#connections {
    display: inline-flex;
    margin: 0 auto;
    justify-content: center;
}

.connect {
    margin: 0% 2%;
}

.connect img {
    position: relative;
    transition: 0.3s filter;
}

.connect span {
    display: none;
    position: absolute;
    transform: translate(-25%, -120%);

    width: fit-content;
    padding: 1%;

    font-size: 16px;
    background: #9452eb;
    color: #ddd;
    border-radius: 10px;
}

.connect:hover img {
    filter: saturate(1.75);
}

.connect:hover span {
    display: block;
}
