body {
    background-color: #060c20;
}

* {
    font-size: 24px;
    font-family: "Barlow Semi Condensed";
    color: #ddd;
}

strong, a {
    color: #1ce085;
}

a:hover {
    color: #11bc6d;
}

body {
    overflow-y: auto;
}

#main {
    position: relative;
    margin: 10vh auto;
    text-align: center;
}

#content {
    margin-top: 3vh;
}

#container {
    margin: 5% auto;
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#projects, #bio {
    margin: 2% auto;

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;

    line-height: 1.15;

    display: flex;
    
    box-sizing: border-box;
}

#projects {
    align-items: center;
    justify-content: center;
}

#bio {
    text-align: left;
}

#connections {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}
